/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

/* Clearing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding: 50px;
}

/* Root */
:root {
    --primary: -webkit-linear-gradient(#d36b00, #c4894d);
    --bg: #010101;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: whitesmoke;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: large;

    padding: 15px 0;

    position: sticky;
    top: 0;
    background-color: rgba(1, 1, 1, 0.9);
    border-bottom: 1px solid rgba(211, 107, 0, 0.4);
    z-index: 999;
}

/* Header Link */
header a {
    color: whitesmoke;
}

/* Title Header */
#link-title {
    font-style: italic;
    color: whitesmoke;
}

#link-title:hover, #btn-kirim-ctk:hover {
    opacity: 0.7;
}

#link-title span {
    background: var(--primary);
}

/* Penerapan Warna Font Gradient */
#link-title span {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Navigation Link */
nav {
    display: flex;
    flex-direction: row;
}
nav a{
    margin-left: 40px;
    text-align: center;
    line-height: 1.2em;
}

nav a:hover, header section a:hover {
    transform: scale(1.1);
}

/* Search and Cart */
header section a:first-child {
    margin-right: 20px;
}

/* Navigation and search-cart hover */
nav a:hover, header section a:hover {
    color: #c4894d;
}

/* Transition */
#link-title, nav a, header section a, #home a, form input, footer, .socialMedia a, .footer-nav a, .copyright a {
    transition: 0.3s;
}

/* Home */
#home {
    height: 100vh;
    background-image: linear-gradient( to top, rgba(1, 1, 1, 1) 10%, rgba(1, 1, 1, 0) 50%), url("images/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

#home h2 {
    font-size: 5.5em;
    line-height: 1.2em;
    text-shadow: 3px 3px 3px #010101;
}

#home p {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 40px;
    color: gainsboro;
}

main section h2 > span {
    color: #c4894d;
}

#home a {
    font-size: x-large;
    color: whitesmoke;
    width: fit-content;
    padding: 15px 50px;
    background: var(--primary);
    border-radius: 10px;
}

#home a:hover {
    opacity: 0.7;
    box-shadow: 0 0 4px #010101;
}

#home > * {
    margin: 160px 0 0 80px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
}

#about, #contact, #support {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 100px;
}

#about h2, #menu h2, #contact h2, #support h2 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: xxx-large;
}

#about p, #menu p, #contact p, #support p {
    font-size: x-large;
    text-align: justify;
    color: gainsboro;
}

/* About */
#about .about-gbr {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.about-gbr img, .map-form, iframe, form input {
    border-radius: 10px;
}

#about h3 {
    font-size: xx-large;
    text-align: center;
}

/* Menu */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 100px;
}

#menu p {
    margin-bottom: 20px;
}

#menu section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    flex-flow: wrap;
    gap: 3.5em;
}

#menu section figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 1em;
}

#menu section figure img {
    width: 170px;
    border-radius: 50%;
    text-align: center;
}

#menu section h4 {
    font-size: x-large;
}

#menu section p {
    font-size: large;
    text-align: center;
}


/* Transparansi paragraf */
#home p, #about p, #menu p, #contact p {
    opacity: 0.7;
}

/* Contact */
#contact {
    margin-bottom: 4em;
}

#contact p {
    margin-bottom: 20px;
}

.map-form {
    display: flex;
    align-items: center;
    gap: 30px;

    padding: 30px;
    width: 100%;
    height: 500px;
    background-color: #222;
}

.map-form form {
    display: flex;
    flex-direction: column;
}

form {
    width: 50%;
}

form input {
    margin: 15px 0;
    padding: 20px;
    font-size: x-large;
    color: gainsboro;
    background-color: var(--bg);
    border: 1px solid rgba(220, 220, 220, 0.5);
}

.nm:focus, .ml:focus, .hp:focus {
    border-color: #c4894d;
}

#btn-kirim-ctk {
    width: 250px;
    background: var(--primary);
    cursor: pointer;
}

/* Support Us */
#support img{
    margin-top: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    margin-top: 100px;
    padding: 20px 0;
    background: linear-gradient(to bottom, rgba(211, 107, 0, 0.5), rgba(34, 34, 34, 0.2));

    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
}

footer:hover {
    border-radius: unset;
}

.socialMedia a, .footer-nav a {
    margin: 0 10px;
    color: whitesmoke;
}

.socialMedia a:hover {
    position: relative;
    animation: socmed 0.05s normal;
}

@keyframes socmed {
    from {top: -20px;}
    to {
        top: 20px;
        opacity: 0.5;
    }
}

.fb:hover {color: #1b74e4;}
.ig:hover {color: #df00ab;}
.lkd:hover {color: #006699;}
.gh:hover{color: #171515;}

.footer-nav a:hover, .copyright a:hover {
    color: var(--bg);
}

.dibuat-dengan img {
    width: 35px;
}

.copyright a {
    color: whitesmoke;
}